@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #8CA2F5;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #C9A8F4;
  text-decoration: inherit;
}
a:hover {
  color: #95D58D;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8CA2F5;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: #95D58D;
  border-color: #FFF8A3;
}
button:focus,
button:focus-visible {
  outline: 4px auto #FF8A8A;
}
